.Rproj.user
.Rhistory
.RData
.Ruserdata
(LAPTOP-IF5MH0JN's conflicted copy 2017-02-10).Rhistory
inst/doc
 (LAPTOP-IF5MH0JN's conflicted copy 2017-02-18).Rhistory
vignettes/rsconnect
incomplete
